// Body
$body-bg: rgba(0, 0, 0, 0.19);



// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

label {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}

.logo {
    margin: auto;
    height: 94.00072479248047px;
    width: 292.1269836425781px;
    border-radius: 0px;
}

.pos-20 {
    position: relative;
    top: 20px;
}

.pos-1em {
    position: relative;
    top: 1em;
}

.input-group-color {
    background: #fff;
}


